
body {
	margin: 0;
	padding: 0;
}

#touche-field {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 1px;
	padding: 1px;
	overflow-x: scroll;
}

.cell {
	min-width: 2.5rem;
	aspect-ratio : 1 / 1;
	padding: 5%;
	align-items: center;

	display: flex;
	transition: background-color 0.2s ease;
	user-select: none;
	white-space: pre-wrap;
}

.card {
	font-size: 2.5cqh;
	font-weight: 700;
	line-height: 1;
}
.free-space {
	font-size: 2.2cqh;
	line-height: 1.2;
	justify-content: center;
	text-align: center;
}

.light-bg {
	background-color: rgba(127, 127, 127, 0.1);
}
.dark-bg {
	background-color: rgba(127, 127, 127, 0.3);
}
.light-text {
	color: black;
}
.dark-text {
	color: rgb(240,240,240);
}
.red-text {
	color: red;
}
