
body {
	margin: 0;
	padding: 0;
}

#touche-field {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 1px;
	padding: 1px;
	overflow-x: scroll;
}


.light-black, .light-red {
	background-color: rgba(127, 127, 127, 0.1);
}
.dark-black, .dark-red {
	background-color: rgba(127, 127, 127, 0.3);
}
.light-black, .dark-black {
	color: black;
}
.light-red, .dark-red {
	color: red;
}


.card-cell, .free-cell, .empty-cell, .card {
	padding: 1%;
	user-select: none;
	white-space: pre-wrap;
	text-align: center;
}
.card-cell, .free-cell, .empty-cell {
	min-width: 3rem;
	aspect-ratio : 1 / 1;
	display: flex;
	align-items: center;
}
.card-cell, .card {
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1;
}
.free-cell {
	font-size: 1rem;
	line-height: 1.4;
	justify-content: center;
}


#deck {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
}

.card {
	display: flex;
	height: 8rem;
	aspect-ratio : 2 / 3;
	border: 1px solid black;
	border-radius: 7px;
}
